/* components/Header.module.css */

/* Header.module.css */
.header {
    /*padding: 1rem 0;*/
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--background);
    padding: 1rem 2rem;
    /*border-bottom: 1px solid #ccc;*/
}

.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: var(--forground);
    text-decoration: none;
    /* font-family: var(--font-ubuntuMonoBold), latin; */
    font-family: var(--font-rubik-bold)
}

