.linked {
    color: #363b4e;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  
  .linked:hover {
    color: #927fbf;
    opacity: 0.9;
  }
  
  .icon {
    font-size: 0.75rem;
    transform: translateY(-1px);
    opacity: 0.75;
  }
  