@import "tailwindcss";

:root {
  --background: #233142; 
  --foreground: #e3e3e3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-ubuntuRegular);
  --font-mono: var(--font-ubuntuRegular); */
  --font-sans: var(--font-rubikNormal);
  --font-mono: var(--font-rubikNormal);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a; 
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-ubuntuRegular), latin; */
  font-family: var(--font-rubikNormal);
}

h1, h2, .logo {
  /* font-family: var(--font-ubuntuMonoBold), latin; */
  font-family: var(--font-rubikBold);
}
